*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 1.4rem 2.4rem;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    box-shadow: 0px 0px 5px 4px rgba(204, 204, 204, 0.808);;
    color: #1e1c2a;
}
.logo{
    cursor: pointer;
}
.active{
    color: #d63a25;
}
.header ul{
    display: flex;
    list-style: none;
    gap: 4.8rem;
    margin-right: 15px;
}
.header li{
    font-weight: 500;
    cursor: pointer;
    transition: color .4s;
    font-size: 1.04rem;
}
.header i{
    position: relative;
    top: 5px;
}
.header li:hover{
    color: #d63a25;
}
.search{
    position: relative;
    top: -2px;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    transition: .2s;
    border-radius: 5px;
    width: 28px;
    height: 3px;
    background-color: black;
    display: block;
    margin: 4px auto;
}
.bar:nth-child(1){
    background-color: #d63a25;
}
.bar:nth-child(3){
    background-color: #d63a25;
}
.bar:nth-child(2){
    opacity: 1;
}

.bar.active:nth-child(2){
    opacity: 0;
}

.bar.active:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.bar.active:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

.main{
    display: flex;
    font-family: 'Poppins', sans-serif;
    padding: 5.7rem 8rem;
}
.main h4{
    font-size: 1.6rem;
    font-weight: bolder;
    color: #d63a25;
}
.main h1{
    color: #1e1c2a;
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 20px;
}
.main h6{
    font-size: .8rem;
    font-weight: 300;
    color: rgb(70, 69, 69);
    margin-bottom: 50px;
    margin-top: 20px;
    width: 40vw;
}
.main a{
    text-decoration: none;
    color: #fff;
    background-color: #d63a25;
    border-radius: 10px;
    padding: 1rem 3rem;
    font-weight: bold;
    transition: .4s;
}
.main a:hover{
    background-color: #fa5641;
}
.leftside{
    width: 70vw;
}
.rightside{
    width: 45vw;
    height: 100vh;
}
.rightside img{
    width: 400px;
}

@media (max-width: 768px){
    .hamburguer{
        display: block;
    }
    .main{
        display: block;
        padding-top: 2rem;
        padding-left: 0;
        padding-right: 0;
    }
    .header li{
        margin-bottom: 80px;
        margin-top: 30px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        transition: .5s;
        position: fixed;
        top: 12vh;
        right: -200%;
        width: 100vw;
        text-align: center;
        margin-bottom: 60px;
        height: 80vh;
        background-color: #fff;
    
    }
    .navbar.navmenu{
        display: block;
        transition: .5s;
        position: fixed;
        top: 12vh;
        right: 0;
        height: 80vh;
        background-color: #fff;
        margin-right: 0;
        
    }
    .leftside{
        margin: 0 auto;
        width: 100vw;
        text-align: center;
        height: 80vh;
    }
    .leftside h4{
        font-size: 1rem;
    }
    .leftside h1{
        font-size: 2.6rem;
        width: 100vw;
    }
    .leftside h6{
        width: 100vw;
        text-align: center;
    }
    .leftside a{
        height: 100vh;
        margin-bottom: 0px;
    }
    .rightside{
        display: none;
    }
}