body{
    text-align: center;
    background-color: rgb(41, 21, 40);
}
body h1{
    margin-top: 50px;
    color: white;
}
.main{
    font-family: 'Ruda', sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 0px 40px black;
    width: 40vw;
    height: 40vh;
}
.main input{
    width: 50px;
}
.parte1{
    margin-top: 30px;
}
#botao{
    font-family: 'Ruda', sans-serif;
    font-weight: 800;
    margin-top: 10px;
    color: white;
    background-color: black;
}